<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <title>{{title}}</title>
    <link rel="canonical" href="http://calculators.pl{{canonical}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script type="application/ld+json">
      {
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://calculators.pl{{canonical}}"
  },
  "headline": "{{h1}}",
  
  "image": {
    "@type": "ImageObject",
    "url": "http://calculators.pl/kalkulator-wynagrodzen/money-2180330_640.jpg",
                  "height": 640,
                  "width": 426
  },
  
  "datePublished": "2020-01-13 11:20:58+0100",
  "dateModified": "2020-01-13 11:21:09+0100",
  
  "author": {
    "@type": "Organization",
    "name": "Calculators"
  },
  
  "publisher": {
    "@type": "Organization",
    "name": "Calculators",
    "logo": {
      "@type": "ImageObject",
      "url": "http://calculators.pl/gfx/logo.jpg",
      "width": 436,
      "height": 60
    }
  }
}
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      .calculator,
.calculator-score,
.content {
  width: 1200px;
  height: auto;
  margin: 40px auto;
  max-width: 100%;
}

p {
  margin: 0 10px 10px;
}

.content > h2 {
  text-align: center;
}

header {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

header > h1 {
  text-align: center;
  margin-top: 40px;

}

nav {
  margin-top: 20px;
}

.calculatorbrutto {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.calculatorbrutto div {
  margin: 20px 0;
}

.btn {
  font-size: 22px;
  width: 100%;
  max-width: 100%;
}


#netto-score {
  margin: 0 auto;
  width: auto;
  text-align: center;
} 

#netto-score {
  font-size: 22px;
}

#netto-score p:nth-child(1) {
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

.kalkulator-nav {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
}

.form-control {
  height: 45px;
}

.addgooglerectangle {
  width: 336px;
    max-width: 100%;
    margin: 0 auto;
}

a.list-group-item{
  display: block;
  padding: 5px;
  border: 1px solid grey;
  background-color: #ffffef;
}

nav .nav-pills {
  text-align: center;
  list-style-type: none;
  padding: 5px;

}

ul > li {
  margin: 5px;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

  </style>

  </head>