{{> articlehead}}

<style>
    main {
    display: block;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    }
</style>

	<header>
		{{> mainnav}}
	</header>
    <main>
    <h1>Kontakt</h1>

    <hr>

   
        <div class="row container">
           <div class="col-lg-12 col-xs-12 col-sm-12">
            <p>FRANCISZKA BIELOWICZA 65</p>
            <p>32-040 ŚWIĄTNIKI GÓRNE</p>
            <p>NIP 6811966900</p>
            <p>Email: biuro@seojoker.pl</p>
            <p>Tel: 667604603</p>
           </div>
        </div>
    </main>