{{> head-kursy}}

<header>
	{{> mainnav}}


</header>

	<h1>{{h1}}</h1>
	
<main>
		<div class="container row">
			<div class="salary-calculator col-xl-6 col-lg-6 col-sm-12">

				<ul>
					<li class="">
						<a href="/kursy-walut/kurs-eur.html">Kurs Euro</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-usd.html">Kurs Dolara Amerykańskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-chf.html">Kurs Franka Szwajcarskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-gbp.html">Kurs Funta Szterlinga</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-rub.html">Kurs Rubla</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-sek.html">Kurs Korony Szwedzkiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-php.html">Kurs Peso Filipińskie</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-ron.html">Kurs Leja Rumuńskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-nzd.html">Kurs Dolara Nowozelandzkiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-nok.html">Kurs Korony Norweskiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-myr.html">Kurs Riggita Malezyjskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-mxn.html">Kurs Peso Meksykańskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-krw.html">Kurs Wona Południowokoreańskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-jpy.html">Kurs Jena Japońskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-isk.html">Kurs Korony Islandzkiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-inr.html">Kurs Rupii Indyjskiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-ils.html">Kurs Szekla Izrealskiego</a>
					</li>
				</ul>
			</div>
			<div class="salary-calculator col-xl-6 col-lg-6 col-sm-12">
				<ul>
					<li class="">
						<a href="/kursy-walut/kurs-idr.html">Kurs Rupii Indonezyjskiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-huf.html">Kurs Forinta Węgierskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-hrk.html">Kurs Kuny Chorwackiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-hkd.html">Kurs Dolar Hongkongu</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-dkk.html">Kurs Korony Duńskiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-czk.html">Kurs Korony Czeskiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-cny.html">Kurs Yuana Jena Chińskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-clp.html">Kurs Peso Chilijskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-cad.html">Kurs Dolara Kanadyjskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-brl.html">Kurs Reala Brazylijskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-bgn.html">Kurs Lewa Bułgarskiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-aud.html">Kurs Dolara Australijsiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-zar.html">Kurs Randa RPA</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-uah.html">Kurs Hrywny Ukraińskiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-try.html">Kurs Liry Tureckiej</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-thb.html">Kurs Bata Tajlandzkiego</a>
					</li>
					<li class="">
						<a href="/kursy-walut/kurs-sgd.html">Kurs Dolara Singapurskiego</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
{{> footerWynagrodzenia }}