{{> headmain}}


<main style="width: 1200px; margin: 0 auto; max-width:100%;">
    {{> mainnav}}
    <p>Niniejsza polityka prywatności i plik&oacute;w cookies opisuje zasady postępowania z danymi osobowymi oraz
        wykorzystywania plik&oacute;w cookies i innych technologii w ramach strony internetowej&nbsp;<a
            href="http://calculators.pl//">http://calculators.pl/</a>.</p>
    <p>Administratorem strony jest SEOJOKER &ndash; Mateusz Mikoś, FRANCISZKA BIELOWICZA 65 32-040 ŚWIĄTNIKI
        G&Oacute;RNE, NIP 6811966900</p>
    <p>Kontakt z administratorem możliwy pod adresem e-mail biuro@seojoker.pl</p>
    <p style="text-align: center;"><strong>&sect; 1<br /></strong><strong>Definicje</strong></p>
    <p>Na potrzeby niniejszej polityki prywatności, przyjmuje się następujące znaczenie poniższych pojęć:</p>
    <ol>
        <li>Administrator &ndash; SEOJOKER &ndash; Mateusz Mikoś, FRANCISZKA BIELOWICZA 65 32-040 ŚWIĄTNIKI
            G&Oacute;RNE, NIP 6811966900,</li>
        <li>Strona &ndash; strona internetowa dostępna pod adresem http://calculators.pl/</li>
        <li>Użytkownik &ndash; każdy podmiot, kt&oacute;ry korzysta ze Strony.</li>
    </ol>
    <p style="text-align: center;"><strong>&sect; 2</strong><br /><strong>Dane osobowe</strong></p>
    <ol>
        <li>Administratorem danych osobowych Użytkownika jest Administrator.</li>
        <li>Administrator gwarantuje poufność wszelkich przekazanych mu danych osobowych.</li>
        <li>Administrator nie udostępnia przekazanych mu danych jakimkolwiek podmiotom trzecim.</li>
        <li>Dane osobowe są gromadzone z należytą starannością i odpowiednio chronione przed dostępem do nich przez
            osoby do tego nieupoważnione.</li>
        <li>Użytkownikowi przysługują następujące uprawnienia:
            <ul>
                <li>prawo do żądania dostępu do swoich danych, ich sprostowania, usunięcia lub ograniczenia
                    przetwarzania,</li>
                <li>prawo do wniesienia sprzeciwu wobec przetwarzania,</li>
                <li>prawo do przenoszenia danych,</li>
                <li>prawo do cofnięcia zgody na przetwarzanie danych osobowych w określonym celu, jeżeli Użytkownik
                    uprzednio taką zgodę wyraził,</li>
                <li>prawo do wniesienia skargi do organu nadzorczego w związku z przetwarzaniem danych osobowych przez
                    Administratora</li>
            </ul>
        </li>
    </ol>
    <p style="text-align: center;"><strong>&sect; 3<br /></strong><strong>Pliki cookies</strong></p>
    <ol>
        <li>Administrator wykorzystuje pliki cookies (ciasteczka), czyli niewielkie informacje tekstowe, przechowywane
            na urządzeniu końcowym Użytkownika (np. komputerze, tablecie, smartfonie). Cookies mogą być odczytywane
            przez system teleinformatyczny Administratora.</li>
        <li>Administrator przechowuje pliki cookies na urządzeniu końcowym Użytkownika, a następnie uzyskuje dostęp do
            informacji w nich zawartych w celach statystycznych, w celach marketingowych (remarketing) oraz w celu
            zapewnienia prawidłowego działania Strony.</li>
        <li>Administrator informuje niniejszym Użytkownika, że istnieje możliwość takiej konfiguracji przeglądarki
            internetowej, kt&oacute;ra uniemożliwia przechowywanie plik&oacute;w cookies na urządzeniu końcowym
            Użytkownika. W takiej sytuacji, korzystanie ze Strony przez Użytkownika może być utrudnione.</li>
        <li>Administrator wskazuje niniejszym, że pliki cookies mogą być przez Użytkownika usunięte po ich zapisaniu
            przez Administratora, poprzez odpowiednie funkcje przeglądarki internetowej, programy służące w tym celu lub
            skorzystanie z odpowiednich narzędzi dostępnych w ramach systemu operacyjnego, z kt&oacute;rego korzysta
            Użytkownik.</li>
        <li>Informacja jak wyłączyć obsługę ciastek znajduje się&nbsp;<a href="/ustawienia-przegladarek">pod tym
                adresem</a></li>
    </ol>
    <p style="text-align: center;"><strong>&sect; 4<br /></strong><strong>Inne technologie</strong></p>
    <p>Administrator informuje niniejszym Użytkownika, że stosuje następujące technologie śledzące działania podejmowane
        przez Użytkownika w ramach Strony:</p>
    <ul>
        <li>Google Analytics</li>
    </ul>
    <p style="text-align: center;"><strong>&sect; 5</strong><br /><strong>Logi serwera</strong></p>
    <ol>
        <li>Korzystanie ze Strony wiąże się z przesyłaniem zapytań do serwera, na kt&oacute;rym przechowywana jest
            Strona.</li>
        <li>Każde zapytanie skierowane do serwera zapisywane jest w logach serwera. Logi obejmują m.in. adres IP
            Użytkownika, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym, z jakiego
            korzysta Użytkownik.</li>
        <li>Logi zapisywane i przechowywane są na serwerze.</li>
        <li>Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi ze Strony i nie są
            wykorzystywane przez Administratora w celu identyfikacji Użytkownika.</li>
        <li>Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania Stroną, a ich zawartość nie
            jest ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.</li>
    </ol>
</main>
