{{> headmain}}


<main style="width: 1200px; margin: 0 auto; max-width:100%;">
        {{> mainnav}}
    <p>W każdej chwili możesz usunąć ciasteczka z Twojej przeglądarki oraz zablokować możliwość ich ponownej instalacji.
    </p>
    <p>W zależności od wykorzystywanej przez Ciebie przeglądarki, opcja usunięcia lub cofnięcia zgody na instalacje
        plik&oacute;w cookies może się r&oacute;żnić. Poniżej znajdziesz linki do przykładowych instrukcji.</p>
    <p><strong>Dla przeglądarki Firefox:</strong><br />1. Na g&oacute;rze okna przeglądarki naciśnij przycisk Firefox,
        (w systemie Windows XP kliknij menuNarzędzia) i wybierz Opcje.</p>
    <p>2. Następnie wybierz panel Prywatność.</p>
    <p>3. Z menu rozwijanego elementu Program Firefox: wybierz opcję: będzie używał ustawień historii użytkownika.</p>
    <p>4. Zaznacz Akceptuj ciasteczka, by włączyć, odznacz, by wyłączyć obsługę ciasteczek.</p>
    <p>5. Wybierz okres przechowywania ciasteczek:</p>
    <p>a) Przechowuj: aż wygasną &ndash; ciasteczko zostanie usunięte po osiągnięciu daty wygaśnięcia, kt&oacute;ra jest
        określana przez witrynę wysyłającą ciasteczko.</p>
    <p>b) Przechowuj: do zamknięcia programu Firefox &ndash; ciasteczka przechowywane na komputerze będą usuwane przy
        zamknięciu Firefoksa.</p>
    <p>c) Przechowuj: pytaj za każdym razem &ndash; za każdym razem, gdy witryna pr&oacute;buje wysłać ciasteczko,
        przeglądarka wyświetli monit z prośbą o podjęcie decyzji w sprawie przechowywania ciasteczka.</p>
    <p>6. Naciśnij przycisk OK, by zamknąć okno opcji</p>
    <p><a
            href="https://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20obs%C5%82ugi%20ciasteczek">Więcej
            o ustawieniach przeglądarki Firefox</a><br /><strong><br />Dla przeglądarki Google Chrome:</strong><br />1.
        Kliknij menu Chrome na pasku narzędzi przeglądarki.</p>
    <p>2. Wybierz Ustawienia.</p>
    <p>3. Kliknij Pokaż ustawienia zaawansowane.</p>
    <p>4. W sekcji Prywatność kliknij przycisk Ustawienia treści.</p>
    <p>5. W sekcji Pliki cookie możesz zmienić następujące ustawienia plik&oacute;w cookie:</p>
    <p>a) Domyślne blokowanie plik&oacute;w cookie &ndash;</p>
    <p>Blokowanie wszystkich plik&oacute;w cookie: wybierz Blokuj pr&oacute;by umieszczenia na komputerze danych z
        witryn. Pamiętaj, że to ustawienie uniemożliwia działanie większości stron, kt&oacute;re wymagają zalogowania
        się.<br />Blokowanie tylko plik&oacute;w cookie innych firm: zaznacz pole wyboru Ignoruj wyjątki i blokuj
        tworzenie plik&oacute;w cookie innych firm. Zaznaczenie tego pola wyboru powoduje odrzucanie pochodzących z
        witryny plik&oacute;w cookie innych firm, nawet jeśli witryna została dodana do listy Wyjątkii może tworzyć
        pliki cookie na komputerze.</p>
    <p>b) Domyślne zezwalanie na pliki cookie</p>
    <p>Jeśli chcesz zezwalać zar&oacute;wno na własne pliki cookie, jak i innych firm, zaznacz Zezwalaj na
        przechowywanie danych lokalnie. Aby akceptować tylko własne pliki cookie, zaznacz pole wyboru Blokuj bez wyjątku
        wszystkie pliki cookie innych firm.</p>
    <p><a href="https://support.google.com/chrome/answer/95647?hl=pl">Więcej o ustawieniach przeglądarki
            Chrome</a><br /><strong><br />Dla przeglądarki Internet Explorer:</strong><br />1. W oknie przeglądarki
        kliknij przycisk Narzędzia, a następnie kliknij polecenie Opcje internetowe.</p>
    <p>2. Kliknij kartę Prywatność, a następnie w obszarze Ustawienia przesuń suwak do najwyższego położenia, aby
        zablokować wszystkie pliki cookie, lub do najniższego położenia, aby zezwolić na wszystkie pliki cookie, a
        następnie kliknij przycisk OK.</p>
    <p><a href="https://support.microsoft.com/pl-pl/products/windows">Więcej o ustawieniach przeglądarki Internet
            Explorer</a></p>
    <p>Instrukcje dla innych przeglądarek:&nbsp;<a href="http://help.opera.com/Windows/12.10/pl/cookies.html"
            aria-label="">Opera</a>,&nbsp;<a href="https://support.apple.com/pl-pl/guide/safari/sfri11471/mac"
            aria-label="">Safari</a></p>
</main>
<app-root></app-root>
<script type="text/javascript" src="/rodo/inline.bundle.js"></script>
<script type="text/javascript" src="/rodo/polyfills.bundle.js"></script>
<script type="text/javascript" src="/rodo/styles.bundle.js"></script>
<script type="text/javascript" src="/rodo/vendor.bundle.js"></script>
<script type="text/javascript" src="/rodo/main.bundle.js"></script>